<!-- <div [ngClass]="{'alt-bg':client=='pointlomaseafood'}"></div> -->
<div [ngClass]="{'main':client!='pointlomaseafood'}" [ngStyle]="background" (click)="onClick()">
  <div *ngIf="pause">
    <h1 style="position: absolute; top: 10px; right: 10px; color: white;">P</h1>
  </div>
  <img class="logo" [src]="logoUrl" *ngIf="logoUrl">
  <ngb-carousel class="page" (slide)="onSlide($event)" #carousel>
    <ng-template ngbSlide>
      <div class="carousel-item active wrapper" [ngStyle]="border">
        <div *ngIf="vertical; else horizontal">
          <app-items-display-page-vert></app-items-display-page-vert>
        </div>
        <ng-template #horizontal>
          <app-items-display-page2></app-items-display-page2>
        </ng-template>
      </div>
    </ng-template>
    <div *ngIf="featuredList.length>0">
      <ng-template ngbSlide *ngFor="let slide of activeFeature; let n=index">
        <div *ngFor="let feature of featuredList; let i=index;">
          <div class="carousel-item active wrapper" [ngStyle]="border" *ngIf="i==activeFeature[n]">
            <app-feature2 [feature]="feature" [edit]="false"></app-feature2>
          </div>
        </div>
      </ng-template>
    </div>
  </ngb-carousel>
</div>


<!-- <div class="main">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="(i+1)" *ngFor="let slide of activeFeature; let i=index;"></li>
    </ol>

    <div class="carousel-inner box">
      <img [src]="logoUrl" class="logo" *ngIf="logoUrl!=null">

      <div class="carousel-item page active">
        <div class="wrapper">
          <app-items-display-page2></app-items-display-page2>
        </div>
      </div>
      <div class="carousel-item page" *ngFor="let slide of activeFeature; let n=index">
        <div *ngFor="let feature of featuredList; let i=index;">
          <div class="wrapper" *ngIf="i==activeFeature[n]">
            <app-feature2 [feature]="feature" [edit]="false"></app-feature2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->