@font-face {
    font-family: "American Typewriter";
    src: url("../../../assets/fonts/American.ttf");
}

.right {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
}

.left {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
}

@keyframes flyInLeft {
    0% { transform: translateX(100%);}
    100% { transform: translateX(0);}
}

@keyframes flyInRight {
    0% { transform: translateX(-100%);}
    100% { transform: translateX(0);}
}

@keyframes flyOutLeft {
    0% { transform: translateX(0);}
    100% { transform: translateX(100%);}
}

@keyframes flyOutRight {
    0% { transform: translateX(0%);}
    100% { transform: translateX(-100%);}
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.container {
    margin-top: 5%;
    display: table;
    height: 100%;
    width: 100%;
    /* border-collapse: collapse; */
}

.row {
    display: table-row;
    /* width: 100%; */
    padding-bottom: 0px;
}

.element {
    display: table-cell;
    padding-bottom: 0px;
}

/* .row:nth-child(even) {
    animation: flyInLeft;
    animation-duration: 500ms;
}

.row:nth-child(odd) {
    animation: flyInRight;
    animation-duration: 500ms;
}

.row-out:nth-child(even) {
    animation: flyOutRight;
    animation-duration: 500ms;
}

.row-out:nth-child(odd) {
    animation: flyOutLeft;
    animation-duration: 500ms;
} */

.title-out {
    display: inline-block;
    color: white;
    font-family: "American Typewriter";
    text-shadow: 2px 2px 2px black;
    position: relative;
    animation: fadeOut;
    animation-duration: 500ms;
}

.title {
    /* display: inline-block; */
    color: white;
    font-family: "American Typewriter";
    text-shadow: 2px 2px 2px black;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
    /* width: 100%; */
    white-space: nowrap;
    animation: fadeIn;
    animation-duration: 500ms;
}

hr {
    position: relative;
    top: -10px;
    border: none;
    background-color: white;
    height: 3px;
    box-shadow: 2px 2px 2px black;
    border-radius: 50%;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 25px;
    }
  }