<h1 mat-dialog-title>Edit Beer: <br>{{beerName}}</h1>
<hr>
<div mat-dialog-content>

  <div class="container" [formGroup]="editForm">
    <div class="row">

      <mat-form-field class="col-sm-12">
        <input matInput formControlName="beer" placeholder="Beer Name..." [matAutocomplete]="auto_beer">
        <!-- <img matPrefix *ngIf="isSelectedValue(searchForm.get(beer'))" class="example-option-img" aria-hidden
          [src]="parseSelectionForIcon(searchForm.get('beer'))" height="40"> -->
        <button mat-button *ngIf="editForm.get('beer').value" matSuffix mat-icon-button aria-label="Clear"
          (click)="resetBeer()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-autocomplete #auto_beer="matAutocomplete" [displayWith]="displayName">
        <!-- (optionSelected)="filterBeer()" -->
        <mat-option *ngFor="let b of filteredBeers | async" [value]="b">
          <!-- <img class="example-option-img" aria-hidden [src]="b.iconLoc" height="40"> -->
          <span>{{ displayName(b) }}</span>
        </mat-option>
      </mat-autocomplete>

      <!-- <input type="text" formControlName="beerID" [matAutocomplete]="auto_beer"> -->
    
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <input matInput formControlName="price" placeholder="Price...">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-checkbox formControlName="onDeck" labelPosition="after">Coming Soon
        </mat-checkbox>
      </div>
      <div class="col-sm-6">
        <mat-checkbox formControlName="onSpecial" labelPosition="after">On Happy Hour
        </mat-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field>
          <textarea matInput formControlName="local_description" matTextareaAutosize
            placeholder="Custom Description"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!editForm.valid" [mat-dialog-close]="onAdd()">Save</button>
</div>