::ng-deep:root {
    --overhang-space: 15px;
    --background-shift: 40px;
    --img-size: calc(52px + (120 - 52) * ((100vh - 500px) / (1080 - 500)));
    --abv-width: calc(var(--img-size)/2);
}

@font-face {
    font-family: "American Typewriter";
    src: url("../../../assets/fonts/American.ttf");
}

@font-face {
    font-family: "Blackwood";
    src: url("../../../assets/fonts/Blackwood.ttf");
}

/*  
button {
    font-size: 16px;
}

.container {
    margin-left: calc(var(--img-size) / 8);
    position: relative;
    display: grid;
    width: calc(100% - var(--img-size) / 8);
    grid-template-columns: var(--img-size) auto var(--abv-width) var(--abv-width);;
    grid-template-rows: var(--overhang-space) auto auto var(--overhang-space);
    grid-template-rows: calc(var(--img-size)*.1) auto auto calc(var(--img-size)*.1);
    padding: 0px;
    z-index: 0;
    align-content: baseline;
    margin-bottom:  calc(var(--img-size)*.025);
}

.image-container {
    height: var(--img-size);
    width: var(--img-size);
    grid-column-start: 1;
    grid-row: 1/span 4;
    justify-self: left;
    align-self: center;
}

img {
    height: 100%;
    width: 100%;
}

.title-container {
    grid-column: 2/ span 3;
    grid-row-start: 2;
    text-align: left;
    justify-self: left;
    margin-left: 20px;
    color: white;
    font-size: calc(var(--img-size) * .3);
}

.description-container {
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: left;
    margin-left: 20px;
    align-self: baseline;
    color: white;
    font-size: calc(var(--img-size) * .2);
}

.abv-container {
    grid-column-start: 3;
    grid-row-start: 3;
    justify-self: right;
    margin-right: calc(var(--img-size) * .2);
    align-self: baseline;
    color: white;
    font-size: calc(var(--img-size) * .2);
    white-space: nowrap;
}

.price-container {
    grid-column-start: 4;
    grid-row-start: 3;
    justify-self: right;
    margin-left: calc(var(--abv-width) / 4);
    margin-right: calc(var(--abv-width) / 8);
    align-self: baseline;
    color: white;
    font-size: calc(var(--img-size) * .2);
    white-space: nowrap;
}

.blank1 {
    grid-row: 1;
    grid-column: 2/span 2;
    height: var(--overhang-space);
}
.blank2 {
    grid-row: 4;
    grid-column: 2/span 2;
    height: var(--overhang-space);
}

.background {
    margin-left: calc(var(--img-size) / 2);
    grid-row: 2/span 2;
    grid-column: 1/span 4;
    height: 100%;
    width: calc(100% - var(--img-size) / 2);
    justify-self: left;
    background-color: rgba(100,100,100,.4);
    z-index: -1;
    position: relative;
}
.button-row {
    grid-column: 2/span 3;
    grid-row-start: 5;
}

.button-group {
    position: relative;
    display: grid;
    justify-self: center;
    width: 100%;
    grid-column-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    box-shadow: 2px 2px 2px black;
    position: relative;
    z-index: 2;
}

.add {
    grid-column-start: 1;
    grid-row-start: 1;
}

.edit {
    grid-column-start: 2;
    grid-row-start: 1;
}

.delete {
    grid-column-start: 3;
    grid-row-start: 1;
}

.setOut {
    grid-column-start: 4;
    grid-row-start: 1;
}

.up {
    grid-column-start: 7;
    grid-row-start: 1;
}

.down {
    grid-column-start: 8;
    grid-row-start: 1;
}
.out {
    grid-column: 2/span 3;
    grid-row: 2/span 2;
    position: relative;
    width: 90%;
    z-index: 2;
    color: rgb(255,20,20);
    text-shadow: 2px 2px 2px black;
    align-self: center;
    text-align: center;
    font-size: calc(var(--img-size) * .5);
    white-space: nowrap;
}

.blur {
    opacity: .7;
}

.selected {
    transform: scale(1.1);
    border: 4px solid red;
} */

p, h2, h3, h4 {
    color: white;
    //font-family: "American Typewriter";
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 3px 3px 3px black;
}

p {
    margin: 0px;
    // border: 1px solid red;
}

h3 {
    font-weight: bolder;
}

.display{
    margin-top: 1vh;
}

.sold-out {
    opacity: .5;
}

.sold-out-text {
    position: absolute;
    color: red;
    z-index: 4;
    display: block;
    font-size: 6vh;
    opacity: .9;
    text-shadow: 2px 2px black;
    margin-left: 10%;
    //left: 25%;
    font-family: "Blackwood";
    transform: rotate(15deg);
}

.on-deck-text {
    position: absolute;
    color: white;
    z-index: 4;
    display: block;
    font-size: 4vh;
    margin-top: 2%;
    text-shadow: 2px 2px black;
    transform: rotate(-15deg);
}

.img-container {
    position: relative;
    height: 100%;
    width: 100%;
    // border: 1px solid green;
}

.img-logo {
    position: relative;
    width: 90%;
    height: auto;
    // height: 90%;
    margin-top: 5%;
    transform: translateX(-50%);
    left: 50%;
    // border: 1px solid red;
}

.img-logo-edit {
    height: 75px;
    width: 75px;
}

// @media screen and (max-height: 850px) {
//     .img-container {
//         width: 50px;
//         height: 50px;
//     }
// }

.not-selected{
    background-color: rgb(50,50,50);
    transform: scale(.9);
    box-shadow: 2px 2px 2px black;
    z-index: 1;
}
.selected {
    /* border: 5px solid red; */
    background-color: rgb(100,100,100);
    box-shadow: 3px 3px 3px black;
    transform: scale(1);
    z-index: 2;
}

.over-text {
    position: absolute;
    left: 10px;
    top: 10px;
}

.background {
    background-color: rgba(50,50,50,.5);
    margin: 1vh;
    height: 100%;
    //border-radius: 10px;
}

.local-desc {
    color:'white';
    font-style: italic;
}

.location {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.nowrap {
    white-space: nowrap;
}
