<div class="container-fluid" *ngIf="edit; else display">
  <h1 class="sold-out-text" *ngIf="item.soldOut">Sold Out</h1>
  <h1 class="on-deck-text" *ngIf="item.onDeck">Coming Soon</h1>
  <div class="row h-100" [ngClass]="{'selected':selected, 'not-selected':!selected, 'display':true, 'sold-out':item.soldOut}"
    (click)="test()">
    <div class="col-2">
      <div class="img-container">
        <img class="img-logo-edit" *ngIf="displayIcon" [src]="displayIcon">
      </div>
    </div>
    <div class="col-10 float-left">
      <div class="row">
        <div class="col-10">
          <h4>{{title}}</h4>
        </div>
        <div class="col-2" *ngIf="displayProperties.price">
          <p>{{item.price}}</p>
        </div>
      </div>
      <div class="row" *ngIf="displayProperties.location">
        <div class="col-10">
          <p>{{location}}</p>
        </div>
      </div>
      <div *ngIf="selected">
        <div class="row">
          <div class="col-10" *ngIf="displayProperties.description && item.beer">
            <p>{{item.beer.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10" *ngIf="displayProperties.local_description">
            <p [ngStyle]="{'color':'white', 'font-style':'italic'}">{{item.local_description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3" *ngIf="displayProperties.type && item.beer">
            <p>Type: {{item.beer.type}}</p>
          </div>
          <div class="col-3" *ngIf="displayProperties.abv && item.beer">
            <p>ABV: {{item.beer.abv}}</p>
          </div>
          <div class="col-3" *ngIf="displayProperties.ibu && item.beer">
            <p>IBU: {{item.beer.ibu}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #display>
  <div class="sold-out-text" *ngIf="item.soldOut">Sold Out</div>
  <h1 class="on-deck-text" *ngIf="item.onDeck">Coming Soon</h1>
  <div class="container background" [ngClass]="{'sold-out': item.soldOut}" [ngStyle]="background">
    <div class="row h-100">
      <div class="col-2 px-0">
        <div class="img-container">
          <img class="img-logo" [ngStyle]="iconSize" *ngIf="displayIcon" [src]="displayIcon">
        </div>
      </div>
      <div class="col-10">
        <div class="row h-100">
          <div class="col-10"
            *ngIf="displayProperties.price || displayProperties.abv || displayProperties.ibu; else wide">
            <h3 [ngStyle]="bigFont">{{title | uppercase}}</h3>
            <p class="location" [ngStyle]="smallFont" *ngIf="displayProperties.location">{{location}}</p>
            <p [ngStyle]="smallFont" *ngIf="displayProperties.type && item.beer">Type: {{item.beer.type}}</p>
            <p [ngStyle]="smallFont" *ngIf="displayProperties.description && item.beer">{{item.beer.description}}</p>
            <p class="local-desc" [ngStyle]="smallFont" *ngIf="displayProperties.local_description">
              {{item.local_description}}</p>
            <p [ngStyle]="smallFont" *ngIf="!item.onSpecial">***Not Included In Happy Hour</p>
          </div>
          <div class="col-2">
            <div class="row">
              <p class="nowrap" [ngStyle]="smallFont" *ngIf="displayProperties.price" class="font-weight-bold">
                {{item.price}}</p>
            </div>
            <div class="row">
              <p class="nowrap" [ngStyle]="smallFont" *ngIf="displayProperties.abv && item.beer && item.beer.abv">ABV:
                {{item.beer.abv | abv}}</p>
            </div>
            <div class="row">
              <p class="nowrap" [ngStyle]="smallFont" *ngIf="displayProperties.ibu && item.beer && item.beer.ibu">IBU:
                {{item.beer.ibu}}</p>
            </div>
          </div>
          <ng-template #wide>
            <div class="col-12">
              <h3 [ngStyle]="bigFont">{{title | uppercase}}</h3>
              <p [ngStyle]="smallFont" *ngIf="displayProperties.location">{{location}}</p>
              <p [ngStyle]="smallFont" *ngIf="displayProperties.description && item.beer">{{item.beer.description}}</p>
              <p [ngStyle]="smallFont" *ngIf="displayProperties.local_description" class="local-desc">
                {{item.local_description}}</p>
              <p [ngStyle]="smallFont" *ngIf="displayProperties.type && item.beer">Type: {{item.beer.type}}</p>
              <p [ngStyle]="smallFont" *ngIf="!item.onSpecial">*** Not Included In Happy Hour ***</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>