<div *ngIf="edit; else display">
  <h1 class="sold-out-text" *ngIf="item.soldOut">Sold Out</h1>
  <h1 class="on-deck-text" *ngIf="item.onDeck">Coming Soon</h1>
  <div class="row" [ngClass]="{'selected':selected, 'not-selected':!selected, 'display':true, 'sold-out':item.soldOut}"
    (click)="test()">
    <div class="col-2">
      <img class="img-container" *ngIf="displayIcon" [src]="displayIcon">
    </div>
    <div class="col-10 float-left">
      <div class="row">
        <div class="col-10">
          <h4>{{title}}</h4>
        </div>
        <div class="col-2" *ngIf="displayProperties.price">
          <p>{{item.price}}</p>
        </div>
      </div>
      <div class="row" *ngIf="displayProperties.location">
        <div class="col-10">
          <p>{{location}}</p>
        </div>
      </div>
      <div *ngIf="selected">
        <div class="row">
          <div class="col-10" *ngIf="displayProperties.description && item.beer">
            <p>{{item.beer.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10" *ngIf="displayProperties.local_description">
            <p [ngStyle]="{'color':'white', 'font-style':'italic'}">{{item.local_description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3" *ngIf="displayProperties.type && item.beer">
            <p>Type: {{item.beer.type}}</p>
          </div>
          <div class="col-3" *ngIf="displayProperties.abv && item.beer">
            <p>ABV: {{item.beer.abv}}</p>
          </div>
          <div class="col-3" *ngIf="displayProperties.ibu && item.beer">
            <p>IBU: {{item.beer.ibu}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #display>
  <div class="sold-out-text" *ngIf="item.soldOut">Sold Out</div>
  <h1 class="on-deck-text" *ngIf="item.onDeck">Coming Soon</h1>
  <div class="container" [ngClass]="{'sold-out':item.soldOut, 'background':true}">
    <div class="row">
      <div class="col-2">
        <img class="img-container" *ngIf="displayIcon" [src]="displayIcon">
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-10"
            *ngIf="displayProperties.price || displayProperties.abv || displayProperties.ibu; else wide">
            <h3 style="font-size: 3vh">{{title | uppercase}}</h3>
            <p style="font-size: 2vh" *ngIf="displayProperties.location">{{location}}</p>
            <p style="font-size: 2vh" *ngIf="displayProperties.description && item.beer">{{item.beer.description}}</p>
            <p style="font-size: 2vh" *ngIf="displayProperties.local_description"
              [ngStyle]="{'color':'white', 'font-style':'italic'}">{{item.local_description}}</p>
            <p style="font-size: 2vh" *ngIf="displayProperties.type && item.beer">Type: {{item.beer.type}}</p>
            <p style="font-size: 2vh" *ngIf="!item.onSpecial">***Not Included In Happy Hour</p>
          </div>
          <div class="col-2">
            <div class="row">
              <p style="font-size: 3vh" *ngIf="displayProperties.price" class="font-weight-bold">{{item.price}}</p>
            </div>
            <div class="row">
              <p style="font-size: 2vh" *ngIf="displayProperties.abv && item.beer">ABV: {{item.beer.abv}}</p>
            </div>
            <div class="row">
              <p style="font-size: 2vh" *ngIf="displayProperties.ibu && item.beer">IBU: {{item.beer.ibu}}</p>
            </div>
          </div>
          <ng-template #wide>
            <div class="col-12">
              <h3 style="font-size: 3vh">{{title | uppercase}}</h3>
              <p style="font-size: 2vh" *ngIf="displayProperties.location">{{location}}</p>
              <p style="font-size: 2vh" *ngIf="displayProperties.description && item.beer">{{item.beer.description}}</p>
              <p style="font-size: 2vh" *ngIf="displayProperties.local_description"
                [ngStyle]="{'color':'white', 'font-style':'italic'}">{{item.local_description}}</p>
              <p style="font-size: 2vh" *ngIf="displayProperties.type && item.beer">Type: {{item.beer.type}}</p>
              <p style="font-size: 2vh" *ngIf="!item.onSpecial">*** Not Included In Happy Hour ***</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>