<h1 mat-dialog-title>Upload File:</h1>
<hr>
<div mat-dialog-content>
  <div class="container" [formGroup]="uploadForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <!-- <mat-form-field class="col-5">
            <input matInput formControlName="fileUrl" placeholder="From Internet...">
          </mat-form-field> -->
          <div class="col-12">
            <label>From Local:</label>
            <br>
            <input type="file" formControlName="file" (change)="detectFiles($event)">
          </div>
        </div>
        <div class="row">
          <mat-form-field class="col-12">
            <input matInput formControlName="displayName" placeholder="Name...">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img *ngIf="getPreview()" class="img-thumbnail img-fluid mx-auto d-block" [src]="getPreview()">
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!uploadForm.valid" (click)="onAdd()">Upload</button>
</div>