<!-- MAIN LIST -->
<div class="container-fluid bg">
  <div class="row">
    <div class="col-12" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let beer of itemsList; let i=index" cdkDrag>
        <div class="row h-100">
          <div style="color: grey;" class="col-1 float-right align-self-center" cdkDragHandle>
            <!-- <i class="fas fa-grip-horizontal fa-3x"></i> -->
            <i class="fas fa-grip-vertical fa-3x"></i>
          </div>
          <div class="col-11">
            <app-item2 [item]="beer" (click)="onClick(i)" [edit]="true" [selected]="isSelected(i)"
              [displayProperties]="properties">
            </app-item2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- BEER CONTROL BUTTONS -->
<div class="main bottom right">
  <button type="button" mat-raised-button color="primary" (click)="addBeer()">Add Beer</button>
  <br>
  <button type="button" mat-raised-button color="default" (click)="soldOutBeer()"
    *ngIf="selected!=null">{{getSoldOutState()}}</button>
  <br>
  <button type="button" mat-raised-button color="warn" (click)="editBeer()" *ngIf="selected!=null">Edit
    Beer</button>
  <br>
  <button type="button" mat-raised-button color="accent" (click)="removeBeer()" *ngIf="selected!=null">Delete
    Beer</button>
</div>

<!-- PROPERTY BUTTON -->
<div class="main top right">
  <button type="button" mat-fab color="accent" (click)="changeViewProperties()"><i
      class="fas fa-sliders-h fa-2x"></i></button>
</div>