<div class="container">
  <div class="row" *ngFor="let screen of screenInfo | async">
    <div class="col-12">
      <app-screen [screenInfo]="screen"></app-screen>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <div class="container bg" [formGroup]="systemOptions">
        <div class="row">
          <div class="col-12">
            <h3>System Properties</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field color="warn">
              <input matInput type="number" placeholder="Beerlist Delay (sec)" formControlName="beerlistDelay" min="5">
              <mat-error *ngIf="systemOptions.get('beerlistDelay')?.invalid">Min Delay: 5sec</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field color="warn">
              <input matInput type="number" placeholder="Features Delay (sec)" formControlName="featuresDelay" min="5">
              <mat-error *ngIf="systemOptions.get('featuresDelay')?.invalid">Min Delay: 5sec</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
            <button mat-raised-button color="warn" (click)="resetForm()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main bottom right">
  <button type="button" mat-raised-button color="primary" (click)="add()">Add Screen</button>
</div>