<div class="row popout">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h1>Enroll New User</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" formControlName="email" [formGroup]="form" (focus)="clearNameError()">
        <div class="alert alert-danger" *ngIf="showEmailError">Email already in use</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" form builder [formGroup]="form">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Conform Password</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" [formGroup]="form"
          (focus)="clearError()">
        <div class="alert alert-danger" *ngIf="showPasswordError">Password not match</div>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <input type="text" class="form-control" id="role" name="role" formControlName="role" [formGroup]="form">
      </div>
      <input type="submit" class="btn btn-primary" value="submit">
      <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>