<h1 mat-dialog-title>Enroll New User</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="First Name...">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" formControlName="email" (focus)="clearNameError()"
      placeholder="Email Address...">
    <div class="alert alert-danger" *ngIf="showEmailError">Email already in use</div>
  </mat-form-field>


  <mat-form-field>
    <input matInput formControlName="password" placeholder="Password...">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="confirmPassword" placeholder="Confirm Password..." (focus)="clearError()">
    <div class="alert alert-danger" *ngIf="showPasswordError">Password not match</div>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="role" placeholder="Account Role...">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="phoneNum" placeholder="Phone Number...">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="client" placeholder="Client...">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" [mat-dialog-close]="onAdd()">Submit</button>
</div>

<!-- <div class="row popout">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
</div>
</div> -->