img {
    width: auto;
    height: 20vh;
}

.not-selected{
    background-color: rgb(150,150,150);
    transform: scale(.9);
    box-shadow: 2px 2px 2px black;
    z-index: 1;
}
.selected {
    /* border: 5px solid red; */
    background-color: white;
    box-shadow: 3px 3px 3px black;
    transform: scale(1);
    z-index: 2;
}

h3, p {
    margin-left: 5vw;
}