<div class="container search-box">
  <h3>Beer Search:</h3>
  <div class="form-group row" [formGroup]="searchForm">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width col-sm-10">
        <input matInput formControlName="keyword" placeholder="Brewery Name..." [matAutocomplete]="auto_brew">
        <img matPrefix *ngIf="isSelectedValue(searchForm.get('keyword'))" class="example-option-img" aria-hidden [src]="parseSelectionForIcon(searchForm.get('keyword'))"
          height="40">
        <button mat-button *ngIf="searchForm.get('keyword').value" matSuffix mat-icon-button aria-label="Clear" (click)="resetKeyword()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button class="example-button-width col-sm-2" mat-raised-button color="basic" (click)="openBrewDialog()"><i class="fas fa-plus fa-lg"></i></button>

      <mat-autocomplete #auto_brew="matAutocomplete" [displayWith]="displayName" (optionSelected)="filterBrewery()">
        <mat-option *ngFor="let b of filteredBreweries" [value]="b">
          <img class="example-option-img" aria-hidden [src]="b.iconLoc" height="40">
          <span>{{b.name }}</span> |
          <small>{{b.city}},{{b.state}}</small>
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="col-sm-4">
      <mat-form-field class="example-full-width col-sm-10">
        <input matInput formControlName="type" placeholder="Type..." [matAutocomplete]="auto_type">
        <button mat-button *ngIf="searchForm.get('type').value" matSuffix mat-icon-button aria-label="Clear" (click)="resetType()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-autocomplete #auto_type="matAutocomplete" [displayWith]="displayType" (optionSelected)="filterType()">
        <mat-option *ngFor="let type of filteredTypes | async" [value]="type">
          <span>{{ type | titlecase }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="col-sm-12">
      <div class="new">
        <button type="button" class="control" mat-raised-button color="primary" (click)="openBeerDialog()">New Beer</button>
        <br>
        <button type="button" class="control" mat-raised-button color="warn" (click)="editBeerDialog()" *ngIf="service.selectedBeer">Edit
          Beer</button>
        <br>
        <button type="button" class="control" mat-raised-button color="accent" (click)="removeBeer()" *ngIf="service.selectedBeer">Delete
          Beer</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngFor="let beer of filteredBeerList; let i=index ">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <app-beer [beer]="beer" [selected]="isSelected(beer)" (click)="onClick(beer)"></app-beer>
    </div>
    <div class="col-sm-1 add-button">
      <button class="float-right" mat-fab color="default" (click)="openTransactionDialog()" *ngIf="showButton(beer)"><i
          class="fas fa-external-link-alt fa-2x"></i></button>
    </div>
  </div>
</div>