<div class="container search-box">
  <h3>Brewery Search:</h3>
  <div class="form-group row" [formGroup]="searchForm">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width col-sm-10">
        <input matInput placeholder="Name..." formControlName="name" [matAutocomplete]="auto_name">
        <img matPrefix *ngIf="isSelectedValue(searchForm.get('name'))" class="example-option-img" aria-hidden [src]="parseSelectionForIcon(searchForm.get('name'))"
          height="40">
        <button mat-button *ngIf="searchForm.get('name').value" matSuffix mat-icon-button aria-label="Clear" (click)="resetName()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-autocomplete #auto_name="matAutocomplete" [displayWith]="displayName" (optionSelected)="filterName()">
        <mat-option *ngFor="let b of filteredBreweries" [value]="b">
          <img class="example-option-img" aria-hidden [src]="b.iconLoc" height="40">
          <span>{{b.name }}</span> |
          <small>{{b.city}},{{b.state}}</small>
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="col-sm-4">
      <mat-form-field class="example-full-width col-sm-10">
        <input matInput placeholder="State..." formControlName="state" [matAutocomplete]="auto_state">
        <button mat-button *ngIf="searchForm.get('state').value" matSuffix mat-icon-button aria-label="Clear" (click)="resetState()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-autocomplete #auto_state="matAutocomplete" [displayWith]="displayState" (optionSelected)="filterState()">
        <mat-option *ngFor="let s of filteredStates | async" [value]="s">
          <span>{{ s }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="col-sm-12">
      <div class="new">
        <button type="button" mat-raised-button color="primary" (click)="openDialog()">New Brewery</button>
        <br>
        <button type="button" mat-raised-button color="warn" (click)="editDialog()" *ngIf="selectedBrewery">Edit
          Brewery</button>
        <br>
        <button type="button" mat-raised-button color="accent" (click)="removeBrewery()" *ngIf="selectedBrewery">Delete
          Brewery</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngFor="let brew of mainFilteredList">
    <app-brewery class="col-sm-8 offset-sm-2" [brewery]="brew" [selected]="isSelected(brew)" (click)="onClick(brew)"></app-brewery>
  </div>
</div>