<div class="block block-inverse app-footer">
  <div class="container">
      <div class="row">
          <div class="col-md-5 mb-5">
              <ul class="list-unstyled list-spaced">
                  <li class="mb-2">
                      <h6 class="text-uppercase">About</h6>
                  </li>
                  <li class="text-muted">
                      Our digital display system was created to fill the need for bars and restaurants to help
                      promote their
                      products and increase sales.
                      If you’d like to learn more, or are interested in our service, contact us anytime at <a [href]="emailAddress">sales@ssrdigitaldisplays.com</a>.
                  </li>
              </ul>
          </div>
          <div class="col-md-2 offset-md-1 mb-5">
              <ul class="list-unstyled list-spaced">
                  <li class="mb-2">
                      <h6 class="text-uppercase">Product</h6>
                  </li>
                  <li class="text-muted">Features</li>
                  <li class="text-muted">Examples</li>
                  <li class="text-muted">Pricing</li>
              </ul>
          </div>
          <div class="col-md-2 mb-5">
              <ul class="list-unstyled list-spaced">
                  <li class="mb-2">
                      <h6 class="text-uppercase">Legal</h6>
                  </li>
                  <li class="text-muted">Legal</li>
                  <li class="text-muted">Privacy</li>
                  <li class="text-muted">License</li>
              </ul>
          </div>
      </div>
  </div>
</div>