/* li {
    font-size: 32px;
}

.navbar-brand {
    font-size: 36px;
} */
li {
    margin-bottom: 5px;
}

.sub-option {
    margin-left: 10px;
}

.navbar-toggler {
    /* display: inline-block */
}

.outlet {
    position: relative;
    margin-top: 50px;
    
}
