.formBG {
    background-color: white;
    border-radius: 20px;
    border: solid black 2px;
    padding: 10px;
    width: 75vw;
    position: fixed;
    left: 12%;
    margin-top: 10vh;
    z-index: 2;
    box-shadow: 4px 4px #666666;
}
@media screen and (max-width: 750px) {
    .focusCompany {
        top: 0%;
    }

    .focusBeer {
        top: -4%;
    }

    .focusDesc {
        top: -8%;
    }

    .focusAbv {
        top: -12%;
    }
}