<div class="container" [ngStyle]="setColumnStyle()" (click)="onClick()">
  <div class="out" *ngIf="item.available==false">
    <h1 [ngStyle]="setSoldOutStyle()">SOLD OUT</h1>
  </div>
  <div class="background" [class.blur]="!item.available" [ngStyle]="setElementStyle()"></div>
  <div class="blank1"></div>
  <div class="image-container" [class.blur]="!item.available" [ngStyle]="setIconStyle()"><img [src]="item.imgUrl"></div>
  <div class="title-container" [class.blur]="!item.available" [ngStyle]="setTitleStyle()">{{item.company |
    uppercase}} {{item.beer | uppercase}}</div>
  <div class="description-container" [class.blur]="!item.available" [ngStyle]="setNoteStyle()">{{item.note}}</div>
  <div class="abv-container" [class.blur]="!item.available" [ngStyle]="setAbvStyle()">{{ item.abv | abv}}</div>
  <div class="blank2"></div>
  <div class="button-row" *ngIf="editMode">
    <div class="button-group btn-sm " *ngIf="menuToggle">
      <button class="btn btn-success add" (click)="onAdd()">Insert</button>
      <button class="btn btn-warning edit" (click)="onEdit()">Edit</button>
      <button class="btn btn-danger delete" (click)="onDelete()">Delete</button>
      <button class="btn btn-default setOut" (click)="onOut()">Out</button>
      <button *ngIf="movable" class="btn btn-primary down" (click)="onShiftDown()">Shift Down</button>
      <button *ngIf="movable" class="btn btn-primary up" (click)="onShiftUp()">Shift Up</button>
    </div>
  </div>
</div>