:host{
    --icon-height: 50px
}

h1, p, small, h3 {
    color: white;
}

small {
    font-style: italic;
}

.icon {
    /* display: flex; */
    margin-left: 10px;
    width: var(--icon-height);
    height: var(--icon-height);
    /* border: 1px solid red; */
}

.text {
    padding-top: calc(.1 * var(--icon-height));
    margin-left: 10px;
    height: var(--icon-height);
    line-height: var(--icon-height);
    /* border: 1px solid green; */
}

.wrapper {
    display: inline-flex;
    height: var(--icon-height);
    margin-bottom: calc(.1 * var(--icon-height));
}

img {
    width: var(--icon-height);
    height: var(--icon-height);
}