<div class="formBG" [ngClass]="{'focusTitle':focusTitle, 'focusCap':focusCap, 'focusSubcap': focusSubCap, 'focusImg':focusImg, 'focusStart':focusStart, 'focusEnd':focusEnd}">
  <div class="title">
    <h3>Add Featured Item</h3>
  </div>
  <form #featuredForm="ngForm" (ngSubmit)="onSubmit(featuredForm)">
    <input type="hidden" name="key" #key="ngModel" [(ngModel)]="featureService.selectedFeature.key">
    <input type="hidden" name="lastModified" #lastModified="ngModel" [(ngModel)]="featureService.selectedFeature.lastModified">
    <input type="hidden" name="order" #order="ngModel" [(ngModel)]="featureService.selectedFeature.order">
    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Heading</span></div>
        <input type="text" name="header" class="form-control" #header="ngModel" [(ngModel)]="featureService.selectedFeature.header"
          (click)="onSelect('title')" placeholder="Enter Top Heading...">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Description</span></div>
        <input type="text" name="caption" class="form-control" #caption="ngModel" [(ngModel)]="featureService.selectedFeature.caption"
          (click)="onSelect('cap')" placeholder="Enter Description...">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Sub-Description</span></div>
        <input type="text" name="subcaption" class="form-control" #subcaption="ngModel" [(ngModel)]="featureService.selectedFeature.subcaption"
          (click)="onSelect('subcap')" placeholder="Enter Sub-Description...">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Image Link</span></div>
        <input type="text" name="url" class="form-control" #url="ngModel" [(ngModel)]="featureService.selectedFeature.url"
          (click)="onSelect('img')" placeholder="Image Link Address...">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Start Date</span></div>
        <input type="text" name="startDate" class="form-control" #startDate="ngModel" [(ngModel)]="featureService.selectedFeature.startDate"
          (click)="onSelect('start')" placeholder="MM/DD/YYYY">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">End Date</span></div>
        <input type="text" name="endDate" class="form-control" #endDate="ngModel" [(ngModel)]="featureService.selectedFeature.endDate"
          (click)="onSelect('end')" placeholder="MM/DD/YYYY">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Layout</span></div>
        <select name="layout" class="form-control" #layout="ngModel" [(ngModel)]="featureService.selectedFeature.layout">
          <option value="left">Left</option>
          <option value="right">Right</option>
          <option value="no-border">No Border</option>
          <option value="fullscreen">Fullscreen</option>
        </select>
        <!-- <div class="input-group-prepend"><span class="input-group-text">Layout</span></div>
        <input type="text" name="layout" class="form-control" #layout="ngModel" [(ngModel)]="featureService.selectedFeature.layout"
          (click)="onSelect('end')" placeholder="MM/DD/YYYY"> -->
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-8 input-group-lg">
        <div class="input-group-addon">
          <label for="active">Active</label>
          <input type="checkbox" name="active" #active="ngModel" [(ngModel)]="featureService.selectedFeature.active">
        </div>
        <div class="input-group-addon">
          <label for="active">Child</label>
          <input type="checkbox" name="child" #child="ngModel" [(ngModel)]="featureService.selectedFeature.child">
        </div>
      </div>
    </div>
    <div class="button-row">
      <div class="button-group btn-sm">
        <button class="btn btn-success btn-lg" type="submit">Submit</button>
        <button class="btn btn-danger btn-lg" type="button" (click)="onBack()">Cancel</button>
      </div>
    </div>
  </form>
</div>