::ng-deep:root {
    --logo-size: 75vh;
}

.img{
    width:100vw; 
    height: 100vh;
    position: absolute;
    left: 0px;
    z-index:-1;
    overflow: hidden;
    /* animation: fadeIn;
    animation-duration: 3s; */
}


.shiftDown {
    transform: translateY(70vh);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .7;
    }
}