::ng-deep:root {
    --logo-size: 65vh;
}

.img{
    width:100vw; 
    height: 100vh;
    position: absolute;
    left: 0px;
    z-index:-1;
    overflow: hidden;
    /* animation: fadeIn;
    animation-duration: 3s; */
}

.logo {
    width: var(--logo-size);
    height: var(--logo-size);
    animation: fadeIn;
    animation-duration: 1s;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
    
}

.logo-container {
    position: absolute;
    z-index:-1;
    width: 100vw;
    height: 100vh;
}

.shiftDown {
    transform: translateY(70vh);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .7;
    }
}