<!-- BACKGROUND -->
<div class="img">
  <img [src]="bgUrl" class="img" *ngIf="bgUrl!=null">
</div>

<!-- PAGES -->
<div (click)="onClick()">
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'none'" appScreenOrientation>
      <app-single-page [vertical]="isVertical"></app-single-page>
    </div>
    <div *ngSwitchCase="'static'">
      <app-static></app-static>
    </div>
    <div *ngSwitchCase="'slideshow'">
      <!-- <app-feature2-page ></app-feature2-page>  -->
      <!-- [delay]="delay" -->
    </div>
    <div *ngSwitchCase="'trivia'">
      <app-trivia-display></app-trivia-display>
    </div>
  </div>
</div>