<div class="container">
  <div class="row">
    <div class="col-12" cdkDropList  (cdkDropListDropped)="drop($event)">
      <div *ngFor="let featured of featuredList; let i=index" cdkDrag>
        <div class="row">
          <div style="color: grey;" class="col-1 float-right align-self-center" cdkDragHandle>
            <!-- <i class="fas fa-grip-horizontal fa-3x"></i> -->
            <i class="fas fa-grip-vertical fa-3x"></i>
          </div>
          <div class="col-11">
            <app-feature2 [feature]="featured" [selected]="isSelected(i)" [edit]="true" (click)="onClick(i)"></app-feature2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main bottom right">
  <button type="button" mat-raised-button color="primary" (click)="addFeature()">Add Feature</button>
  <br>
  <button type="button" mat-raised-button color="warn" (click)="editFeature()" *ngIf="selected!=null">Edit
    Feature</button>
  <br>
  <button type="button" mat-raised-button color="accent" (click)="deleteFeature()" *ngIf="selected!=null">Delete
    Feature</button>
</div>